<!--
Define in dashboards/views.py file
context.update({
    'layout': KTTheme.setLayout('default.html', context),
})
-->
{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Dashboard" %}{% endblock %}

{% block content %}

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        {% include 'partials/widgets/cards/_widget-20.html' %}

        {% include 'partials/widgets/cards/_widget-7.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-md-6 col-lg-6 col-xl-6 col-xxl-3 mb-md-5 mb-xl-10">
        {% include 'partials/widgets/cards/_widget-17.html' %}

        {% include 'partials/widgets/lists/_widget-26.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xxl-6">
        {% include 'partials/widgets/engage/_widget-10.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6 mb-5 mb-xl-10">
        {% include 'partials/widgets/charts/_widget-8.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6 mb-5 mb-xl-10">
        {% include 'partials/widgets/tables/_widget-16.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-xxl-6">
        {% include 'partials/widgets/cards/_widget-18.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-6">
        {% include 'partials/widgets/charts/_widget-36.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
        {% include 'partials/widgets/charts/_widget-35.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8">
        {% include 'partials/widgets/tables/_widget-14.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

<!--begin::Row-->
<div class="row gx-5 gx-xl-10">
    <!--begin::Col-->
    <div class="col-xl-4">
        {% include 'partials/widgets/charts/_widget-31.html' %}
    </div>
    <!--end::Col-->
    <!--begin::Col-->
    <div class="col-xl-8">
        {% include 'partials/widgets/charts/_widget-24.html' %}
    </div>
    <!--end::Col-->
</div>
<!--end::Row-->

{% endblock content %}