{% extends layout %}

{% block title %}Add Edit Tasks{% endblock %}

{% block content %}
{% if showTask %}
<div class="row">
    <div class="col-md-6">
        <select id="frmTask" onchange="setTask(this.value)" class="form-control">
            <option>Select Task</option>
            {% for i in tasks %}
            <option value="{{i.id}}">{{i.TaskName}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}
<div style="margin-top:10px">
    <form class="autoRecogniseForm">
        {% csrf_token %}
        <div class="row mx-0">
            <!-- <div class="col-sm-12">
                <input type="file" id="img" name="image">
            </div> -->
            <div class="border col-md-10 mx-auto rounded">
                <div class="d-flex py-3 mb-3  border-bottom justify-content-between align-items-center">
                    <h5 class="modal-title" id="CanvasModalLabel">Modal title</h5>
                    <div>
                      <button class="btn btn-primary btn-sm"><i class="fa fa-arrow-left"></i> Before</button>
                      <button class="btn btn-primary btn-sm">Next <i class="fa fa-arrow-right"></i> </button>
                    </div>
                    <button type="button" class="btn btn-success " onclick='Download()'> Download annotation result</button>
                  </div>
                  <div class="">
                    <div class="d-flex align-items-center  pb-3 mb-3 border-bottom">
                        <button type="button" class='btnDrawRectangle btn btn-primary'>
                            Rect
                        </button>
                        <button type="button" class="btn btn-primary ms-2" onclick='drawPolygon();'>
                            Create Polygon
                        </button>
                        <div class="ms-2">
                            <button type="button" class="btn btn-outline-secondary" title="Zoom in" onclick='ZoomIn();'>
                                <i class="fa fa-search-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" title="Zoom out" onclick='ZoomOut();'>
                                <i class="fa fa-search-minus"></i>
        
                            </button>
                            <button type="button" class="btn  btn-outline-dark " onclick='DisableZoom();'>
                                <i class="fa fa-mouse-pointer"></i>
                            </button>
                            <button type="button" class="btn  btn-danger " onclick='DefaultZoom();'>
                                Reset Zoom
                            </button>
        
                        </div>
                        <div class="ms-2">
                            <button type="button" class="btn btn-secondary" title="Undo" onclick='Undo();'>
                                <i class="fa fa-undo"></i>
                            </button>
                            <button type="button" class="btn btn-secondary" title="Redo" onclick='Redo();'>
                                <i class="fa fa-repeat"></i>
                            </button>
                         
                        </div>
                        <button type="button" class="btn  btn-danger ms-2 " onclick='Delete()'>
                            Delete
                        </button>
                        <!-- celery demo -->
                        <!-- <a href="/annotate/celery-demo">
                            <button type="button" class="btn  btn-danger ms-2 ">
                            Celery Demo
                            </button>
                        </a>  -->
                        <!-- end celery demo -->
                        <input type="color" class="form-control form-control-solid p-1 form-control-color txtColor ms-2">
                    </div>
                  <div class="row">
                    <div class="col-sm-8">
                        <div class="overflow-auto">
                            <div class="dvCanvas">
            
                                <canvas id="mainCanvas"></canvas>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                    <div class="col-sm-4">
                    
                        <div class="dvAnnotationFields max-420">
                        </div>
                    </div>
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                    <input type="button" class="btnAutoRecognise btn btn-warning" value="Auto Recognize" />
                  <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
                </div>
            </div>
           
        </div>
       
    </form>
</div>
<input type="hidden" id="csrfid" value="{{ csrf_token }}">

<script type="text/javascript">
    var dics_data = {{dictionarys|safe}};
    
</script>
<script>
    var imagePath = '/assets/{{image}}';
    document.addEventListener('DOMContentLoaded', () => {
        fetch(imagePath).then(s => s.blob()).then(s => {
            addImageInCanvas(imagePath);
        });
    });
</script>
{% if showTask %}
<script>
    document.getElementById('frmTask').addEventListener('change', function (e) {
        fetch('/task_detail?id=' + e.target.value).then(r => r.json()).then(r => {
            imagePath = '/assets/' + r.MainImageFile;
            addImageInCanvas(imagePath);
        });
    });
</script>
{% endif %}
{% endblock content %}