{% extends layout %}

{% block title %}Preview {% endblock %}

{% block content %}
{% if showTask %}
<div class="row">
    <div class="col-md-6">
        <select id="frmTask" class="form-control">
            <option>Select Task</option>
            {% for i in tasks %}
            <option value="{{i.id}}">{{i.TaskName}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}

<!--
    Place your html 
-->

<div style="margin-top:10px" class="dvPreview">
    <form class="autoRecogniseForm">
        <div class="row mx-0">
            <!-- <div class="col-sm-12">
                <input type="file" id="img" name="image">
            </div> -->
            <div class="border col-md-10  rounded">
              
                 
               
                  <div class="row">
                    <div class="col-sm-10">
                        <div class="overflow-auto">
                            <div class="dvPreviewCanvas">
            
                                <canvas id="previewCanvas"></canvas>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                   
                  </div>
                
              
            </div>
          
        </div>
       
    </form>
</div>
 
{% if showTask %}
<script>
        var imagePath = '/media/{{image}}';
        
    document.getElementById('frmTask').addEventListener('change', function (e) {
        if(e.target.value > 0){
            fetch('/task_detail?id=' + e.target.value).then(r => r.json()).then(r => {
            //here if user come from menu
            imagePath = '/media/' + r.MainImageFile;
            
            addImageInPreviewCanvas(imagePath);
            if(localStorage.getItem("taskAnnotations")!=null){
              var  taskPreviewAnnotations=JSON.parse(localStorage.getItem("taskAnnotations"))
              var taskId = $('#frmTask').val();  
              taskPreviewAnnotations =taskPreviewAnnotations.filter(i=>i.task==taskId);  
              if(taskPreviewAnnotations.length > 0){
              setTimeout(function(){
            for (var i = 0; i < taskPreviewAnnotations.length; i++) {
                AddTextForPreviewCanvas(taskPreviewAnnotations[i])
            }   
        },500)}else{
            alert("For selected task no any preview saved yet. Please go to Annotate-> World level and create preview.")
        }
            }else{
            alert("For selected task no any preview saved yet. Please go to Annotate-> World level and create preview.")
        }
        });
        }else{
            previewCanvas.clear(); 
        }
    })
   
       
function addImageInPreviewCanvas(imagepath) {
    fabric.Image.fromURL(imagepath, function (img) {
        previewCanvas.clear();  
        img.set({
            originX: 'left',
            originY: 'top',
            objectCaching: false,
            fill: 'transparent',
            selectable: false,
            type: "image",
            opacity:0.5
        });
        previewCanvas.setHeight(img.height);
        previewCanvas.setWidth(img.width); 
        previewCanvas.add(img).renderAll();
    });
}


function AddTextForPreviewCanvas(renderObj) {
   
    var obj = new fabric.IText(renderObj.text, {
        left: renderObj.left,
        top: renderObj.top,
        fontFamily: 'arial',
        fill: renderObj.color,
        fontSize: 16, 
        fontWeight: renderObj.isBold==true?'bold':'normal',
        fontStyle: renderObj.isItalic==true?'italic':'normal',
        canvasId: renderObj.canvasId,
        selectable: true,
        crossOrigin: 'anonymous',
        originX: 'left', originY: 'top',
    });
    previewCanvas.add(obj) 
    previewCanvas.setActiveObject(obj); 
    // AddAnnotationToTimeline(n, 0, max, "Text here")
    previewCanvas.renderAll();
   
}
</script>
{% endif %}
{% endblock content %}