{% extends layout %}

{% block title %}Preview {% endblock %}

{% block content %}
{% if showTask %}
<div class="row">
    <div class="col-md-6">
        <select id="frmPreviewTask" class="form-control">
            <option  value="0"  {%if task_id == 0 %} selected {%endif%}>Select Task</option>
            {% for i in tasks %}
            <option value="{{i.id}}" {%if task_id == i.id%} selected {%endif%}>{{i.TaskName}}</option>
            {% endfor %}
        </select>
    </div>
</div>
{% endif %}

<!--
    Place your html 
-->

<div style="margin-top:10px" class="dvMain">
    <form class="autoRecogniseForm">
        <div class="row mx-0">
            <!-- <div class="col-sm-12">
                <input type="file" id="img" name="image">
            </div> -->
            <div class="border col-md-10 mx-auto rounded">
              
                  <div class="">
                    <div class="d-flex align-items-center  pb-3 mb-3 border-bottom">
                        
                        <div class="ms-2">
                            <button type="button" class="btn btn-outline-secondary" title="Zoom in" onclick='ZoomIn();'>
                                <i class="fa fa-search-plus"></i>
                            </button>
                            <button type="button" class="btn btn-outline-secondary" title="Zoom out" onclick='ZoomOut();'>
                                <i class="fa fa-search-minus"></i>
        
                            </button>
                            <button type="button" class="btn  btn-outline-dark " onclick='DisableZoom();'>
                                <i class="fa fa-mouse-pointer"></i>
                            </button>
                            <button type="button" class="btn  btn-danger " onclick='DefaultZoom();'>
                                Reset Zoom
                            </button>
        
                        </div>
                       
                         
                    </div>
                  <div class="row">
                    <div class="col-sm-10">
                        <div class="overflow-auto">
                            <div class="dvCanvas">
            
                                <canvas id="previewCanvas"></canvas>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                                    </div>
                </div> 
            </div>
        </div>
    </form>
</div>

<!-- <div style="margin-top:10px" class="dvPreview">
    <form class="autoRecogniseForm">
        <div class="row mx-0">
           
            <div class="border col-md-10  rounded">
              
                 
                <img class='imgSrc imgAnn' src="">
                  <div class="row">
                    <div class="col-sm-10">
                        <div class="overflow-auto">
                            <div class="dvPreviewCanvas">
            
                                <canvas id="previewCanvas"></canvas>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                   
                  </div>
                
              
            </div>
          
        </div>
       
    </form>
</div> -->
{% if showTask %}
<script> 
    var previewAnnotations = {{previewAnnotations|safe}};
    console.log(previewAnnotations); 
    var preview_task_id = {{task_id|safe}};
    console.log("taskId: "+preview_task_id)
    var imagePath = '/media/{{image}}';
    console.log("image path:" +imagePath);
        
//     // show image after loading automatically if task selected
// if (typeof task_id !== 'undefined') {
  
//     if(task_id != 0) {
//         fetch('/task_detail?id=' + task_id).then(r => r.json()).then(r => {
//             imagePath = '/media/' + r.MainImageFile;
//             addImageInPreviewCanvas(imagePath);
//             if(previewAnnotations.length > 0){    
//               var  taskPreviewAnnotations=JSON.parse(localStorage.getItem("taskAnnotations"))
//               var taskId = $('#frmPreviewTask').val();  
//               taskPreviewAnnotations =previewAnnotations // taskPreviewAnnotations.filter(i=>i.task==taskId);  
//               if(taskPreviewAnnotations.length > 0){
//               setTimeout(function(){
//             for (var i = 0; i < taskPreviewAnnotations.length; i++) {
//                 AddLineRenderingPreviewCanvas(taskPreviewAnnotations[i])
//             }   
//         },500)}else{
//             alert("For selected task no any preview saved yet. Please go to Annotate-> World level and create preview.")
//         }
//             }
//         });
//     }
//     else{
//             previewCanvas.clear(); 
//         }
// }
//     document.getElementById('frmPreviewTask').addEventListener('change', function (e) {
//         window.location.replace(`/annotate/preview?id=`+e.target.value);
//         // if(e.target.value > 0){
//         //     fetch('/task_detail?id=' + e.target.value).then(r => r.json()).then(r => {
//         //     //here if user come from menu
//         //     imagePath = '/media/' + r.MainImageFile;
            
//         //     addImageInPreviewCanvas(imagePath);
//         //     //if(localStorage.getItem("taskAnnotations")!=null){
//         //     if(previewAnnotations.length > 0){    
//         //       var  taskPreviewAnnotations=JSON.parse(localStorage.getItem("taskAnnotations"))
//         //       var taskId = $('#frmPreviewTask').val();  
//         //       taskPreviewAnnotations =previewAnnotations // taskPreviewAnnotations.filter(i=>i.task==taskId);  
//         //       if(taskPreviewAnnotations.length > 0){
//         //       setTimeout(function(){
//         //     for (var i = 0; i < taskPreviewAnnotations.length; i++) {
//         //         AddTextForPreviewCanvas(taskPreviewAnnotations[i])
//         //     }   
//         // },500)}else{
//         //     alert("For selected task no any preview saved yet. Please go to Annotate-> World level and create preview.")
//         // }
//         //     }else{
//         //     alert("For selected task no any preview saved yet. Please go to Annotate-> World level and create preview.")
//         // }
//         // });
//         // }else{
//         //     previewCanvas.clear(); 
//         // }
//     })
   
       
// function addImageInPreviewCanvas(imagepath) {
//     fabric.Image.fromURL(imagepath, function (img) {
//         previewCanvas.clear();  
//         img.set({
//             originX: 'left',
//             originY: 'top',
//             objectCaching: false,
//             fill: 'transparent',
//             selectable: false,
//             type: "image",
//             opacity:0.5
//         });
//         previewCanvas.setHeight(img.height);
//         previewCanvas.setWidth(img.width); 
//         previewCanvas.add(img).renderAll();
//     });
// }


// function AddTextForPreviewCanvas(renderObj) {
   

//     var textObj = new fabric.IText(renderObj.text, {
//         //left: renderObj.left,
//         //top: renderObj.top,
//         fontFamily: 'arial',
//         fill: renderObj.color,
//         fontSize: 16, 
//         fontWeight: renderObj.isBold==true?'bold':'normal',
//         fontStyle: renderObj.isItalic==true?'italic':'normal',
//         canvasId: renderObj.canvasId,
//         //selectable: true,
//         crossOrigin: 'anonymous',
//        // originX: 'left', originY: 'top',
//     });
//     // $(".imgAnn").attr("src",textObj.toDataURL())
//     // console.log(textObj.toDataURL())
//     // var imgElement = document.getElementsByClassName('imgAnn')[0];

//     // var obj = new fabric.Image.fromURL('/media/images/dummy.jpg', {
//     //     left: renderObj.left,
//     //     top: renderObj.top, 
//     //     height: renderObj.height, 
//     //     width: renderObj.width,
//     //     canvasId: renderObj.canvasId,
//     //     selectable: true,
//     //     crossOrigin: 'anonymous',
//     //     originX: 'left', originY: 'top',
//     // });
//     fabric.Image.fromURL(textObj.toDataURL(), function (img) {
        
//         img.set({
//             originX: 'left',
//             originY: 'top', 
//             left: renderObj.left,
//         top: renderObj.top, 
//             height: renderObj.height, 
//         width: renderObj.width,
//             fill: 'transparent',
//             selectable: true,
//             type: "image",
            
//         }); 
//         previewCanvas.add(img).renderAll();
//     });
//     // previewCanvas.add(obj) 
//     // previewCanvas.setActiveObject(obj);  
//     // previewCanvas.renderAll();
   
// }


// function AddLineRenderingPreviewCanvas(renderObj) {
    
//    fabric.Image.fromURL(renderObj.image, function (img) {
       
//        img.set({
//            originX: 'left',
//            originY: 'top', 
//            left: renderObj.left,
//        top: renderObj.top, 
//            height: renderObj.height, 
//        width: renderObj.width,
//            fill: 'transparent',
//            selectable: true,
//            type: "image",
           
//        }); 
//        previewCanvas.add(img).renderAll();
//    }); 
  
// }

</script>
{% endif %}
{% endblock content %}