<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
	<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
		data-kt-scroll-activate="true" data-kt-scroll-height="auto"
		data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
		data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px">
		{% with request.resolver_match.url_name as url_name %}
		<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true"
			data-kt-menu-expand="false">
			<div class="menu-item {% if url_name == 'index' %}here{% endif %}">
				<a class="menu-link" href="/">
					<span class="menu-icon">{% getSvgIcon 'duotune/general/gen025.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Dashboards</span>
				</a>
			</div>
			<div class="menu-item pt-5">
				<div class="menu-content">
					<span class="menu-heading fw-semibold text-uppercase fs-7">Layouts</span>
				</div>
			</div>
			<div class="menu-item {% if url_name == 'list-project' or url_name == 'add-edit-project' %}here{% endif %}">
				<a class="menu-link" href="/projects/list">
					<span class="menu-icon">{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Projects</span>
				</a>
			</div>
			<div class="menu-item {% if url_name == 'list-tasks'  or url_name == 'add-edit-tasks' %}here{% endif %}">
				<a class="menu-link" href="/tasks/list">
					<span class="menu-icon">{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Tasks</span>
				</a>
			</div>
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion {% if url_name == 'annotate-wordlevel' or url_name == 'annotate-preview' or url_name == 'annotate-main' or url_name == 'genrate-data-pan-card' or url_name == 'volume-and-comment' %}show hover{% endif %}">
				<span class="menu-link">
					<span class="menu-icon">
						{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}
					</span>
					<span class="menu-title">Annotate</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion ">
					<div class="menu-item {% if url_name == 'annotate-main' %}here{% endif %}">
						<a class="menu-link" href="/annotate/main/0">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Line</span>
						</a>
					</div>
					<div class="menu-item {% if url_name == 'annotate-wordlevel' %}here{% endif %}">
						<a class="menu-link" href="/annotate/wordlevel/0">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Word Level</span>
						</a>
					</div>

					<div class="menu-item {% if url_name == 'annotate-preview' %}here{% endif %}">
						<a class="menu-link" href="{% url 'annotate:annotate-preview' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Preview Rendering</span>
						</a>
					</div>
				</div>
			</div>

			<div data-kt-menu-trigger="click" class="menu-item menu-accordion {% if url_name == 'generate_dataset' or url_name == 'paste_dataset' or url_name == 'argument_dataset' or url_name == 'list_dataset' or url_name == 'view_dataset' %}show hover{% endif %}">
				<span class="menu-link">
					<span class="menu-icon">
						{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}
					</span>
					<span class="menu-title">Dataset</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion ">
					<!-- generate dataset-->
					<div class="menu-item {% if url_name == 'generate_dataset' %}here{% endif %}">
						<a class="menu-link" href="{% url 'dataset:generate_dataset' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Generate</span>
						</a>
					</div>

					<!-- Paste generated cards on background images-->
					<div class="menu-item {% if url_name == 'paste_dataset' %}here{% endif %}">
						<a class="menu-link" href="{% url 'dataset:paste_dataset' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title" title="paste generated data cards on different backgrounds">paste</span>
						</a>
					</div>

					<!-- Augment dataset -->
					<div class="menu-item {% if url_name == 'argument_dataset' %}here{% endif %}">
						<a class="menu-link" href="{% url 'dataset:argument_dataset' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Augment</span>
						</a>
					</div>

					<!-- List all dataset -->
					<div class="menu-item {% if url_name == 'list_dataset' %}here{% endif %}">
						<a class="menu-link" href="{% url 'dataset:list_dataset' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">List</span>
						</a>
					</div>

					<!-- View specific dataset -- view status of rendering also -->
					<div class="menu-item {% if url_name == 'view_dataset' %}here{% endif %}">
						<a class="menu-link" href="/dataset/view_dataset/0">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">View</span>
						</a>
					</div>
				</div>
			</div>

			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}
					</span>
					<span class="menu-title">Export</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion ">
					<div class="menu-item">
						<a class="menu-link" href="#">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">list</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="#">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Export Dataset</span>
						</a>
					</div>
				</div>
			</div>
			
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion">
				<span class="menu-link">
					<span class="menu-icon">
						{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}
					</span>
					<span class="menu-title">Training</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion ">
					<div class="menu-item">
						<a class="menu-link" href="#">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">start</span>
						</a>
					</div>
					<div class="menu-item">
						<a class="menu-link" href="#">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">view</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endwith %}
	</div>
</div>