<div class="app-sidebar-menu overflow-hidden flex-column-fluid">
	<div id="kt_app_sidebar_menu_wrapper" class="app-sidebar-wrapper hover-scroll-overlay-y my-5" data-kt-scroll="true"
		data-kt-scroll-activate="true" data-kt-scroll-height="auto"
		data-kt-scroll-dependencies="#kt_app_sidebar_logo, #kt_app_sidebar_footer"
		data-kt-scroll-wrappers="#kt_app_sidebar_menu" data-kt-scroll-offset="5px">
		{% with request.resolver_match.url_name as url_name %}
		<div class="menu menu-column menu-rounded menu-sub-indention px-3" id="#kt_app_sidebar_menu" data-kt-menu="true"
			data-kt-menu-expand="false">
			<div class="menu-item {% if url_name == 'index' %}here{% endif %}">
				<a class="menu-link" href="/">
					<span class="menu-icon">{% getSvgIcon 'duotune/general/gen025.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Dashboards</span>
				</a>
			</div>
			<div class="menu-item pt-5">
				<div class="menu-content">
					<span class="menu-heading fw-semibold text-uppercase fs-7">Layouts</span>
				</div>
			</div>
			<div class="menu-item {% if url_name == 'list-project' or url_name == 'add-edit-project' %}here{% endif %}">
				<a class="menu-link" href="/projects/list">
					<span class="menu-icon">{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Projects</span>
				</a>
			</div>
			<div class="menu-item {% if url_name == 'list-tasks' or url_name == 'add-edit-tasks' %}here{% endif %}">
				<a class="menu-link" href="/tasks/list">
					<span class="menu-icon">{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}</span>
					<span class="menu-title">Tasks</span>
				</a>
			</div>
			<div data-kt-menu-trigger="click" class="menu-item menu-accordion {% if url_name == 'annotate-wordlevel' or url_name == 'annotate-main' or url_name == 'genrate-data-pan-card' or url_name == 'volume-and-comment' %}show hover{% endif %}">
				<span class="menu-link">
					<span class="menu-icon">
						{% getSvgIcon 'duotune/abstract/abs014.svg' 'svg-icon svg-icon-2' %}
					</span>
					<span class="menu-title">Annonate</span>
					<span class="menu-arrow"></span>
				</span>
				<div class="menu-sub menu-sub-accordion ">
					<div class="menu-item {% if url_name == 'annotate-main' %}here{% endif %}">
						<a class="menu-link" href="{% url 'annotate:annotate-main' %}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Line</span>
						</a>
					</div>
					<div class="menu-item {% if url_name == 'annotate-wordlevel' %}here{% endif %}">
						<a class="menu-link" href="{% url 'annotate:annotate-wordlevel' %}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Word Level</span>
						</a>
					</div>
					<div class="menu-item {% if url_name == 'genrate-data-pan-card' %}here{% endif %}">
						<a class="menu-link" href="{% url 'annotate:genrate-data-pan-card' %}">
							<span class="menu-bullet ">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Generated Data Pan Card</span>
						</a>
					</div>
					<div class="menu-item {% if url_name == 'volume-and-comment' %}here{% endif %}">
						<a class="menu-link" href="{% url 'annotate:volume-and-comment' %}">
							<span class="menu-bullet">
								<span class="bullet bullet-dot"></span>
							</span>
							<span class="menu-title">Volume and Comment</span>
						</a>
					</div>
				</div>
			</div>
		</div>
		{% endwith %}
	</div>
</div>