<!--begin::Navbar-->
<div class="app-navbar flex-shrink-0">
	<!--begin::Theme mode-->
	<div class="app-navbar-item ms-1 ms-lg-3">
		{% include 'partials/theme-mode/_main.html'%}
	</div>
	<!--end::Theme mode-->
	<!--begin::User menu-->
	<div class="app-navbar-item ms-1 ms-lg-3" id="kt_header_user_menu_toggle">
		<!--begin::Menu wrapper-->
		<div class="cursor-pointer symbol symbol-35px symbol-md-40px" data-kt-menu-trigger="click"
			data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
			<img src="{% static 'media/avatars/300-1.jpg' %}" alt="user" />
		</div>

		{% include 'partials/menus/_user-account-menu.html' with session=session %}

		<!--end::Menu wrapper-->
	</div>
	<!--end::User menu-->
	<!--begin::Header menu toggle-->
	<div class="app-navbar-item d-lg-none ms-2 me-n3" title="Show header menu">
		<div class="btn btn-icon btn-active-color-primary w-35px h-35px" id="kt_app_header_menu_toggle">
			{% getSvgIcon 'duotune/text/txt001.svg' 'svg-icon svg-icon-1' %}</div>
	</div>
	<!--end::Header menu toggle-->
</div>
<!--end::Navbar-->