{% extends layout %}

{% block title %}Add Edit Tasks{% endblock %}

{% block content %}

<div class="card card-flush mt-4">
    <div class="card-header pt-7">
        <h2>Add or edit tasks</h2>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{id}}" id="task_id" />
            <div class="row">
                <div class="col-md-6 mb-1">
                    <input required placeholder="Task Name" id="task_name" name="taskname" value="{{taskname}}"
                        class="form-control" />
                    <p id="errormsg" class="text-danger"></p>
                </div>
                <div class="col-md-6 mb-1">
                    <select required name="projectId" id="task_proj" class="form-control" value="{{projectId}}">
                        <option value="">Select Project</option>
                        {% for p in projects%}
                        <option {% if p.id == projectId %}selected{% endif %} value="{{p.id}}">{{p.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 mb-1">
                    <label>Main Image</label>
                    <input name="image" class="form-control" type="file" accept="image/*" />
                </div>
                <div class="col-md-6 mb-1">
                    <label>No Text Image</label>
                    <input name="image2" class="form-control" type="file" accept="image/*" />
                </div>
                <div class="col-md-12 text-end">
                    <button class="btn btn-primary" id="btn_submit">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            {% if image %}
            <div class="col-md-6">
                <p>Main image</p>
                <a href="/media/{{image}}" class="gallery">
                    <img src="/media/{{image}}" width="100" class="img-fluid" />
                </a>
            </div>
            {% endif %}
            {% if image2 %}
            <div class="col-md-6">
                <p>Text removed image</p>
                <a href="/images/{{image2}}" class="gallery">
                    <img src="/images/{{image2}}" width="100" class="img-fluid" />
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    const checker = e => {
        var id = document.getElementById('task_id');
        var task_proj = document.getElementById('task_proj');
        var task_name = document.getElementById('task_name');
        var name = task_name.value;
        fetch('/tasks/duplicate?id=' + id.value + '&name=' + name + '&proj=' + task_proj.value).then(s => s.json()).then(s => {
            console.log(s);
            document.getElementById('btn_submit').disabled = s.isDuplicate;
            if (s.isDuplicate) {
                document.getElementById('errormsg').innerText = 'Task Name cant duplicate'
            }
            else {
                document.getElementById('errormsg').innerText = ''
            }
        })
    }
    if (document.getElementById('task_id').value > 0) {
        document.getElementById('btn_submit').disabled = false;
    }
    document.getElementById('task_name').addEventListener('blur', checker);
    document.getElementById('task_proj').addEventListener('change', checker);
    document.getElementById('task_name').addEventListener('input', checker);
</script>
{% endblock content %}