{% extends layout %}

{% block title %}Add Edit Tasks{% endblock %}

{% block content %}

<div class="card card-flush mt-4">
    <div class="card-header pt-7">
        <h2>Add or edit tasks</h2>
    </div>
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{id}}" />
            <div class="row">
                <div class="col-md-6 mb-1">
                    <input required placeholder="Task Name" name="taskname" value="{{taskname}}" class="form-control" />
                </div>
                <div class="col-md-6 mb-1">
                    <select required name="projectId" class="form-control" value="{{projectId}}">
                        <option value="">Select Project</option>
                        {% for p in projects%}
                        <option {% if p.id == projectId %}selected{%endif%} value="{{p.id}}">{{p.Name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-6 mb-1">
                    <label>Main Image</label>
                    <input name="image" class="form-control" type="file" accept="image/*" />
                </div>
                <div class="col-md-6 mb-1">
                    <label>No Text Image</label>
                    <input name="image2" class="form-control" type="file" accept="image/*" />
                </div>
                <div class="col-md-12 text-end">
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
        <div class="row">
            {% if image %}
            <div class="col-md-6">
                <p>Main image</p>
                <img src="/{{image}}" width="100" class="img-fluid" />
            </div>
            {% endif %}
            {% if image2 %}
            <div class="col-md-6">
                <p>Text removed image</p>
                <img src="/{{image2}}" width="100" class="img-fluid" />
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}