{% extends layout %}

{% load i18n %}

{% block title %}{% translate "Signup" %}{% endblock %}

{% block content %}
{% if message != None %}
<div class="alert alert-danger">
    {{message}}
</div>
{% endif %}
<form class="form w-100" method="post" action="/signup-post">
    <div class="text-center mb-11">
        <h1 class="text-dark fw-bolder mb-3">
            Sign Up
        </h1>
        <div class="text-gray-500 fw-semibold fs-6">
            ID Card Generator
        </div>
    </div>

    <div class="fv-row mb-8">
        <input type="text" required placeholder="First Name" name="firstname" autocomplete="off"
            class="form-control bg-transparent" minlength="3" />
    </div>
    <div class="fv-row mb-8">
        <input type="text" placeholder="Last Name" name="lastname" autocomplete="off"
            class="form-control bg-transparent" minlength="3" />
    </div>
    <div class="fv-row mb-8">
        <input type="email" required placeholder="Email" name="email" autocomplete="off"
            class="form-control bg-transparent" />
    </div>

    <div class="fv-row mb-8" data-kt-password-meter="true">
        <div class="mb-1">
            <div class="position-relative mb-3">
                <input class="form-control bg-transparent" type="password" placeholder="Password" name="password"
                    autocomplete="off" required minlength="6" />

                <span class="btn btn-sm btn-icon position-absolute translate-middle top-50 end-0 me-n2"
                    data-kt-password-meter-control="visibility">
                    <i class="bi bi-eye-slash fs-2"></i>
                    <i class="bi bi-eye fs-2 d-none"></i>
                </span>
            </div>
            <div class="d-flex align-items-center mb-3" data-kt-password-meter-control="highlight">
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px me-2"></div>
                <div class="flex-grow-1 bg-secondary bg-active-success rounded h-5px"></div>
            </div>
        </div>
        <div class="text-muted">
            Use 6 or more characters with a mix of letters, numbers & symbols.
        </div>
    </div>
    <div class="d-grid mb-10">
        <button type="submit" id="kt_sign_up_submit" class="btn btn-primary">
            {% include 'partials/general/_button-indicator.html' with label='Sign Up' %}
        </button>
    </div>
    <div class="text-gray-500 text-center fw-semibold fs-6">
        Already have an Account?

        <a href="/signin" class="link-primary fw-semibold">
            Sign in
        </a>
    </div>
</form>

{% endblock content %}